@import "tailwindcss";

:root {
  --color-yellow: #ffbd59;
  --color-orange: #d85024;
  --color-blue: #092e5e;
  --color-grey: #3e3d3b;
}

@theme inline {
  --color-brand-yellow: var(--color-yellow);
  --color-brand-orange: var(--color-orange);
  --color-brand-blue: var(--color-blue);
  --color-brand-grey: var(--color-grey);
}

body {
  font-family: var(--font-lexend), sans-serif;
  color: var(--color-grey);
}
